PASSWORD_MANAGER="bw"
PMDM_ROOT_DIRECTORIES="[HOME]=\"/c/Users/foo\" [CODE]=\"/c/Users/foo/code\""
BITWARDEN_EMAIL="user@example.com"
BITWARDEN_FOLDER_ID="12345678-1a23-456b-78c9-a1b3c3d4e5f6"

# TODO: hints should just be in comments, not in the actual values that could be sourced